@import "~office-ui-fabric-react/dist/sass/References.scss";

.herosFirst {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system,
      BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }

  .loadingBar {
    font-style: italic;

    .refresh {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .heroPanel {
    min-width: 254px;
    height: 106px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    overflow: visible;
    padding: 5px;
    border-width: 2px;
    border-color: lightgray;
    border-radius: round($number: 5px);
  }

  .heroImage {
    background-repeat: no-repeat;
    width: 119px;
    height: 104px;
    overflow: hidden;
  }

  .heroDetails {
    min-width: 150px;
    height: 104px;
    width: 100%;
    margin-left: 10px;
  }

  .heroTitle {
    font-size: 14px;
    font-weight: bold;
  }

  .bottomDetails {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    overflow: visible;
  }

  .elementSection {
    width: 50px;
  }

  .elements {
    width: 35px;
    height: 35px;
  }

  .bottomDetailsColumn {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    overflow: hidden;
  }

  .powers {
    width: 50%;
    font-size: 10px;
    font-style: italic;

    .powersTitle {
      font-weight: bold;
    }
  }

  .errors {
    color: red;
  }

  .actions {
    width: 50%;
    font-size: 10px;
  }

  .teamsLabel {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    color: orange;
    width: auto;
  }

  .teamsHover {
    width: 70px;
  }

  .compactCard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: bold;
    font-size: 12px;
    color: orange;
  }
  .expandedCard {
    padding: 16px 24px;
    font-weight: bold;
    font-size: 12px;
    color: orange;
  }

  .likeBar {
    font-style: italic;

    .like {
      margin-left: 5px;
      text-decoration: underline;
      cursor: pointer;
      color: skyblue;
    }
  }
}
